.intro, body .mainInicio .intro, .ContenedorAbout .main {
  background-color: #5067a2;
  line-height: 30px;
  font-size: 1rem;
  border: 2px black solid;
  width: 70%;
  padding: 2rem;
  text-align: justify;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow: auto;
  opacity: 75%;
  margin: 2rem auto;
  margin-bottom: 10rem;
}

* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url(https://images3.alphacoders.com/912/thumb-1920-912807.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  color: aliceblue;
  margin: 2rem auto;
}

body .headerInicio {
  width: 90%;
  margin: 20px auto;
  grid-area: headerInicio;
  padding: 2rem;
}

body .headerInicio ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 2rem;
  height: auto;
  text-align: center;
}

body .headerInicio ul li {
  font-size: 1.5rem;
}

body .headerInicio ul li:hover ul {
  display: block;
}

body .headerInicio ul li ul {
  display: none;
}

body .headerInicio ul li a {
  display: inline-block;
  color: aquamarine;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: bold;
}

body .headerInicio ul li a:hover {
  color: #9b61d2;
}

body .mainInicio {
  grid-area: mainInicio;
}

body .footerInicio {
  width: 90%;
  grid-area: footerInicio;
}

body .footerInicio .sucursales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 4rem auto;
}

body .footerInicio .sucursales .sucursales__ubi__map:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

body .footerInicio .menu2 {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .footerInicio .menu2 li a {
  color: #26b9c4fd;
  font-weight: bold;
  font-size: larger;
}

body .footerInicio .menu2 li a:hover {
  background-color: #0d100f;
  border-radius: 20%;
}

.ContenedorAbout {
  width: 90%;
  margin: 20px auto;
}

.ContenedorAbout .HAbout {
  padding: 2rem;
}

.ContenedorAbout .HAbout ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 2rem;
  height: auto;
  text-align: center;
}

.ContenedorAbout .HAbout ul li {
  font-size: 1.5rem;
}

.ContenedorAbout .HAbout ul li:hover ul {
  display: block;
}

.ContenedorAbout .HAbout ul li ul {
  display: none;
}

.ContenedorAbout .HAbout ul li a {
  display: inline-block;
  color: aquamarine;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: bold;
}

.ContenedorAbout .HAbout ul li a:hover {
  color: #9b61d2;
}

.ContenedorAbout .main {
  font-size: 1.5rem;
}

.ContenedorAbout .contGrid {
  width: 90%;
  height: auto;
  margin: 20px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  -ms-grid-rows: 2fr 2fr;
      grid-template-rows: 2fr 2fr;
  grid-gap: 2rem;
      grid-template-areas: "foto1 videonos videonos foto2" "foto3 videonos videonos foto4";
}

.ContenedorAbout .contGrid .videonos {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: videonos;
  width: 85%;
  margin: 20px auto;
}

.ContenedorAbout .contGrid .foto1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: foto1;
}

.ContenedorAbout .contGrid .foto2 {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: foto2;
}

.ContenedorAbout .contGrid .foto3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: foto3;
}

.ContenedorAbout .contGrid .foto4 {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: foto4;
}

.ContenedorAbout .Fabout {
  margin-top: 10rem;
  grid-area: Fabout;
}

.ContenedorAbout .Fabout .p-1 .menu2 {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.ContenedorAbout .Fabout .p-1 .menu2 li a {
  color: #26b9c4fd;
  font-weight: bold;
  font-size: larger;
}

.ContenedorAbout .Fabout .p-1 .menu2 li a:hover {
  background-color: #0d100f;
  border-radius: 20%;
}

.shopsContainer {
  width: 90%;
  margin: 20px auto;
}

.shopsContainer .headerShop {
  padding: 2rem;
}

.shopsContainer .headerShop ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 2rem;
  height: auto;
  text-align: center;
}

.shopsContainer .headerShop ul li {
  font-size: 1.5rem;
}

.shopsContainer .headerShop ul li:hover ul {
  display: block;
}

.shopsContainer .headerShop ul li ul {
  display: none;
}

.shopsContainer .headerShop ul li a {
  display: inline-block;
  color: aquamarine;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: bold;
}

.shopsContainer .headerShop ul li a:hover {
  color: #9b61d2;
}

.shopsContainer .sucursales {
  width: 90%;
  padding: 2rem;
  margin: 20px auto;
  margin-left: 28vw;
}

.shopsContainer .sucursales .sucursales__ubi__maps:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.shopsContainer .footerShop {
  width: 90%;
  margin: 20px auto;
}

.shopsContainer .footerShop .p-1 .menu2 {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.shopsContainer .footerShop .p-1 .menu2 li a {
  color: #26b9c4fd;
  font-weight: bold;
  font-size: larger;
}

.shopsContainer .footerShop .p-1 .menu2 li a:hover {
  background-color: #0d100f;
  border-radius: 20%;
}

.prodContainer {
  width: 90%;
  margin: 20px auto;
}

.prodContainer .headerProd {
  padding: 2rem;
}

.prodContainer .headerProd ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 2rem;
  height: auto;
  text-align: center;
}

.prodContainer .headerProd ul li {
  font-size: 1.5rem;
}

.prodContainer .headerProd ul li:hover ul {
  display: block;
}

.prodContainer .headerProd ul li ul {
  display: none;
}

.prodContainer .headerProd ul li a {
  display: inline-block;
  color: aquamarine;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: bold;
}

.prodContainer .headerProd ul li a:hover {
  color: #9b61d2;
}

.prodContainer .productos__lista {
  width: 80%;
  height: 80%;
  margin: 20px auto;
  list-style: none;
}

.prodContainer .productos__lista ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: inline-block;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4rem;
}

.prodContainer .footerProd {
  width: 90%;
  margin: 20px auto;
}

.prodContainer .footerProd .p-1 .menu2 {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.prodContainer .footerProd .p-1 .menu2 li a {
  color: #26b9c4fd;
  font-weight: bold;
  font-size: larger;
}

.prodContainer .footerProd .p-1 .menu2 li a:hover {
  background-color: #0d100f;
  border-radius: 20%;
}

.contenedorcontacto {
  width: 90%;
  margin: 4rem auto;
}

.contenedorcontacto .Hcontact {
  width: 90%;
  grid-area: Hcontact;
  padding: 2rem;
}

.contenedorcontacto .Hcontact ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 2rem;
  height: auto;
  text-align: center;
}

.contenedorcontacto .Hcontact ul li {
  font-size: 1.5rem;
}

.contenedorcontacto .Hcontact ul li:hover ul {
  display: block;
}

.contenedorcontacto .Hcontact ul li ul {
  display: none;
}

.contenedorcontacto .Hcontact ul li a {
  display: inline-block;
  color: aquamarine;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: bold;
}

.contenedorcontacto .Hcontact ul li a:hover {
  color: #9b61d2;
}

.contenedorcontacto .Forcoment {
  width: 90%;
  grid-area: Forcoment;
}

.contenedorcontacto .footcontact {
  width: 90%;
  grid-area: footcontact;
}

.contenedorcontacto .footcontact .sucursales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 4rem auto;
}

.contenedorcontacto .footcontact .sucursales .sucursales__ubi__map:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.contenedorcontacto .footcontact .p-1 .menu2 {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contenedorcontacto .footcontact .p-1 .menu2 li a {
  color: #26b9c4fd;
  font-weight: bold;
  font-size: larger;
}

.contenedorcontacto .footcontact .p-1 .menu2 li a:hover {
  background-color: #0d100f;
  border-radius: 20%;
}

@media screen and (max-width: 480px) {
  .contenedorcontacto {
    width: 90%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto 1fr auto;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: "Hcontact" "Forcoment" "footcontact";
  }
}

@media screen and (max-width: 480px) {
  .ContenedorAbout {
    width: 90%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto 1fr;
        grid-template-rows: auto auto auto 1fr;
        grid-template-areas: "HAbout" "main" "foto1" "foto2" "foto3" "foto4" "videonos" "Fabout";
  }
}
/*# sourceMappingURL=estilo.css.map */