.intro, body .mainInicio .intro, .ContenedorAbout .main {
  background-color: #5067a2;
  line-height: 30px;
  font-size: 1.2rem;
  border: 2px black solid;
  width: 80%;
  padding: 2rem;
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  overflow: auto;
  opacity: 80%;
  margin: 7rem auto;
}

* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url(https://images3.alphacoders.com/912/thumb-1920-912807.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  color: #e8f0f7;
  margin: 2rem auto;
}

body .headerInicio {
  width: 100%;
  margin: 20px auto;
}

body .headerInicio .navbar-expand-lg {
  width: 90%;
  margin: 20px auto;
  opacity: 85%;
}

body .headerInicio .navbar-expand-lg .nav-item {
  padding: 1rem;
}

body .headerInicio .navbar-expand-lg .nav-item:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

@media only screen and (max-width: 480px) {
  body .headerInicio navbar-expand-lg {
    width: 90%;
    margin: 20px auto;
    opacity: 85%;
  }
  body .headerInicio navbar-expand-lg .nav-item {
    padding: 1rem;
  }
  body .headerInicio navbar-expand-lg .nav-item:hover {
    -webkit-transform: none;
            transform: none;
  }
}

body .mainInicio .packs {
  width: 70%;
  margin-left: 15vw;
}

body .mainInicio .packs .packs__1 {
  margin: 10px auto;
  padding: 2rem;
  width: 18rem;
}

body .mainInicio .videoIntro {
  margin: 2rem auto;
}

body .mainInicio .videoIntro .videonos {
  margin: 6rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 25rem;
  width: 70rem;
}

body .footerInicio {
  width: 90%;
  margin: 20px auto;
}

body .footerInicio .sucursal .sucursal__ubi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 6rem auto;
}

body .footerInicio .sucursal .sucursal__ubi:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

body .footerInicio .p-1 .menu2 {
  width: 20%;
  margin: 3rem auto;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  float: right;
}

body .footerInicio .p-1 .menu2 .home {
  width: 30px;
  height: 25px;
}

body .footerInicio .p-1 .menu2 .home:hover {
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
}

body .footerInicio .p-1 .menu2 .facebook {
  width: 30px;
  height: 25px;
}

body .footerInicio .p-1 .menu2 .facebook:hover {
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
}

body .footerInicio .p-1 .menu2 .instagram {
  width: 30px;
  height: 25px;
}

body .footerInicio .p-1 .menu2 .instagram:hover {
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
}

body .footerInicio .p-1 .menu2 .contacto {
  width: 30px;
  height: 25px;
}

body .footerInicio .p-1 .menu2 .contacto:hover {
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
}

.ContenedorAbout {
  width: 100%;
  margin: 20px auto;
}

.ContenedorAbout .HAbout .navbar-expand-lg {
  width: 90%;
  margin: 20px auto;
  opacity: 85%;
}

.ContenedorAbout .HAbout .navbar-expand-lg .nav-item {
  padding: 1rem;
}

.ContenedorAbout .HAbout .navbar-expand-lg .nav-item:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

@media only screen and (max-width: 480px) {
  .ContenedorAbout .HAbout navbar-expand-lg {
    width: 90%;
    margin: 20px auto;
    opacity: 85%;
  }
  .ContenedorAbout .HAbout navbar-expand-lg .nav-item {
    padding: 1rem;
  }
  .ContenedorAbout .HAbout navbar-expand-lg .nav-item:hover {
    -webkit-transform: none;
            transform: none;
  }
}

.ContenedorAbout .main {
  font-size: 1.3rem;
}

.ContenedorAbout .Fabout {
  margin: 4rem;
}

.ContenedorAbout .Fabout .p-1 .menu2 {
  width: 20%;
  margin: 3rem auto;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  float: right;
}

.ContenedorAbout .Fabout .p-1 .menu2 .home {
  width: 30px;
  height: 25px;
}

.ContenedorAbout .Fabout .p-1 .menu2 .home:hover {
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
}

.ContenedorAbout .Fabout .p-1 .menu2 .facebook {
  width: 30px;
  height: 25px;
}

.ContenedorAbout .Fabout .p-1 .menu2 .facebook:hover {
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
}

.ContenedorAbout .Fabout .p-1 .menu2 .instagram {
  width: 30px;
  height: 25px;
}

.ContenedorAbout .Fabout .p-1 .menu2 .instagram:hover {
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
}

.ContenedorAbout .Fabout .p-1 .menu2 .contacto {
  width: 30px;
  height: 25px;
}

.ContenedorAbout .Fabout .p-1 .menu2 .contacto:hover {
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
}

.prodContainer {
  width: 100%;
  margin: 20px auto;
}

.prodContainer .headerProd .navbar-expand-lg {
  width: 90%;
  margin: 20px auto;
  opacity: 85%;
}

.prodContainer .headerProd .navbar-expand-lg .nav-item {
  padding: 1rem;
}

.prodContainer .headerProd .navbar-expand-lg .nav-item:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

@media only screen and (max-width: 480px) {
  .prodContainer .headerProd navbar-expand-lg {
    width: 90%;
    margin: 20px auto;
    opacity: 85%;
  }
  .prodContainer .headerProd navbar-expand-lg .nav-item {
    padding: 1rem;
  }
  .prodContainer .headerProd navbar-expand-lg .nav-item:hover {
    -webkit-transform: none;
            transform: none;
  }
}

.prodContainer .productos1 {
  width: 90%;
  margin: 3rem auto;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 7rem auto;
}

.prodContainer .productos1 .card {
  color: navy;
  text-align: center;
}

.prodContainer .productos1 .card:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.prodContainer .productos2 {
  width: 90%;
  margin: 3rem auto;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 7rem auto;
}

.prodContainer .productos2 .card {
  color: navy;
  text-align: center;
}

.prodContainer .productos2 .card:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.prodContainer .footerProd {
  width: 90%;
  margin: 20px auto;
}

.prodContainer .footerProd .p-1 .menu2 {
  width: 20%;
  margin: 3rem auto;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  float: right;
}

.prodContainer .footerProd .p-1 .menu2 .home {
  width: 30px;
  height: 25px;
}

.prodContainer .footerProd .p-1 .menu2 .home:hover {
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
}

.prodContainer .footerProd .p-1 .menu2 .facebook {
  width: 30px;
  height: 25px;
}

.prodContainer .footerProd .p-1 .menu2 .facebook:hover {
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
}

.prodContainer .footerProd .p-1 .menu2 .instagram {
  width: 30px;
  height: 25px;
}

.prodContainer .footerProd .p-1 .menu2 .instagram:hover {
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
}

.prodContainer .footerProd .p-1 .menu2 .contacto {
  width: 30px;
  height: 25px;
}

.prodContainer .footerProd .p-1 .menu2 .contacto:hover {
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
}

.contenedorcontacto {
  width: 100%;
  margin: 20px auto;
}

.contenedorcontacto .Hcontact .navbar-expand-lg {
  width: 90%;
  margin: 20px auto;
  opacity: 85%;
}

.contenedorcontacto .Hcontact .navbar-expand-lg .nav-item {
  padding: 1rem;
}

.contenedorcontacto .Hcontact .navbar-expand-lg .nav-item:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

@media only screen and (max-width: 480px) {
  .contenedorcontacto .Hcontact navbar-expand-lg {
    width: 90%;
    margin: 20px auto;
    opacity: 85%;
  }
  .contenedorcontacto .Hcontact navbar-expand-lg .nav-item {
    padding: 1rem;
  }
  .contenedorcontacto .Hcontact navbar-expand-lg .nav-item:hover {
    -webkit-transform: none;
            transform: none;
  }
}

.contenedorcontacto .Forcoment {
  width: 80%;
  margin: 4rem auto;
  padding: 4rem;
  background-color: #07353d;
  opacity: 95%;
}

.contenedorcontacto .Forcoment .btn {
  margin-left: 4rem;
}

.contenedorcontacto .footcontact {
  width: 90%;
  margin: 20px auto;
}

.contenedorcontacto .footcontact .p-1 .menu2 {
  width: 20%;
  margin: 3rem auto;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  float: right;
}

.contenedorcontacto .footcontact .p-1 .menu2 .home {
  width: 30px;
  height: 25px;
}

.contenedorcontacto .footcontact .p-1 .menu2 .home:hover {
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
}

.contenedorcontacto .footcontact .p-1 .menu2 .facebook {
  width: 30px;
  height: 25px;
}

.contenedorcontacto .footcontact .p-1 .menu2 .facebook:hover {
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
}

.contenedorcontacto .footcontact .p-1 .menu2 .instagram {
  width: 30px;
  height: 25px;
}

.contenedorcontacto .footcontact .p-1 .menu2 .instagram:hover {
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
}

.contenedorcontacto .footcontact .p-1 .menu2 .contacto {
  width: 30px;
  height: 25px;
}

.contenedorcontacto .footcontact .p-1 .menu2 .contacto:hover {
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
}

@media only screen and (max-width: 480px) {
  .contenedorInicio {
    width: 100%;
    margin: 10px auto;
  }
  .contenedorInicio .mainInicio .videoIntro {
    width: 90%;
  }
  .contenedorInicio .mainInicio .videoIntro .videonos {
    width: 300px;
    height: 200px;
    margin-bottom: 25vh;
  }
  .contenedorInicio .footerInicio .p-1 .menu2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    gap: 1.8rem;
    float: none;
  }
  .ContenedorAbout .Fabout .p-1 .menu2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    gap: 1.8rem;
    float: none;
  }
  .prodContainer .productos1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5rem;
  }
  .prodContainer .productos2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5rem;
  }
  .prodContainer .footerProd .p-1 .menu2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    gap: 1.8rem;
    float: none;
  }
  .contenedorcontacto .Forcoment {
    width: 100%;
    margin: 2rem auto;
    padding: 1rem auto;
  }
  .contenedorcontacto .footcontact .p-1 .menu2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    gap: 1.8rem;
    float: none;
  }
}
/*# sourceMappingURL=estilo.css.map */