.intro{
    background-color:rgb(80, 103, 162);
            line-height: 30px;
            font-size: 1.5rem;
            border: 2px black solid;
            width: $ancho - 20%;
            padding: 2rem;
            text-align: justify;
            font-family: Georgia, 'Times New Roman', Times, serif;
            overflow: auto; 
            opacity: 75%;
            margin: 2rem auto;
            margin-bottom: 10rem;
}