.intro{
    background-color:rgb(80, 103, 162);
            line-height: 30px;
            font-size: 1.2rem;
            border: 2px black solid;
            width: $ancho - 10%;
            padding: 2rem;
            text-align: justify;
            font-family: 'Montserrat', sans-serif;
            overflow: auto; 
            opacity: 80%;
            margin: 2rem auto;
            margin-bottom: 10rem;
}