@mixin menuinicial {
          padding: 2rem;
                ul{
                list-style: none;
                display: flex;
                justify-content: space-evenly;
                padding: 2rem;
                height: auto;
                text-align: center;
                    li{
                    font-size: 1.7rem;
                        a{
                            display: inline-block;
                            color: aquamarine;
                            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                            font-style: bold;
                            &:hover{
                                color: rgb(155, 97, 210);
                        }  
                    }
                }
            }  
        }      