@mixin menuinicial {
    .navbar-expand-lg{
        width: $ancho;
        margin: 20px auto;
        opacity: 85%;           
            .nav-item{
                padding: 1rem;
                    &:hover{
                        transform:rotate(15deg);
                        
                    }
            }
        }
    }