.menu2{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    li a{
        color: #7fffd4;
        font-weight: bold;
        font-size: larger;
        &:hover{
            background-color: rgb(13, 16, 15);
            border-radius: 20%;
        }
    }
}