@mixin menuinicial {
    .navbar-expand-lg{
        width: $ancho;
        margin: 20px auto;
        opacity: 85%;          
            .nav-item{
                padding: 1rem;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    &:hover{
                        transform: scale(1.2,1.2);   
                    }
            }
        }
        @media only screen and (max-width:480px){
            navbar-expand-lg{
                width: $ancho;
                margin: 20px auto;
                opacity: 85%;           
                    .nav-item{
                        padding: 1rem;
                            &:hover{
                                transform:none;  
                            }
                    }
                }
        }
    }