.menu2{
    width: $ancho - 70;
    margin: 3rem auto;
    list-style: none;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    float: right;
    .home{
        width: 30px;
        height: 25px;
    }
    .facebook{
        width: 30px;
        height: 25px;
    }
    .instagram{
        width: 30px;
        height: 25px;
    }
    .contacto{
        width: 30px;
        height: 25px;
    }
}