$ancho: 90%;
@import "menuinicial";
@import "extends";
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box   
}
body{
    background-image: url(https://images3.alphacoders.com/912/thumb-1920-912807.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    color: #e8f0f7;
    margin: 2rem auto;
            .headerInicio{
                width: $ancho + 10;
                margin: 20px auto;
                @include menuinicial;  
            }
            .mainInicio{
                    .intro{
                        @extend .intro;
                    }
                    .tit__pack{
                        width: 25rem;
                        padding: 2rem;
                        margin: 10px auto;
                        text-align: center;
                        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                        color: rgb(31, 230, 236);
                        background-color: #07353d;
                        opacity: 85%;
                        
                    }
                    .packs{
                        width: $ancho - 20;
                        margin-left: 15vw;
                            .packs__1{
                                margin: 10px auto;
                                padding: 2rem;
                                width: 18rem;
                            }    
                    }
                    .videoIntro{
                        margin: 2rem auto;
                        .videonos{
                            margin: 6rem auto;
                            display: flex;
                            justify-content: center;
                            height: 25rem;
                            width: 70rem;
                        }
                    }
            }         
            .footerInicio{
                width: $ancho;
                margin: 20px auto;
                    .sucursal{
                        .tit__suc{
                            width: 25rem;
                            padding: 2rem;
                            margin: 10px auto;
                            text-align: center;
                            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                            color: rgb(31, 230, 236);
                            background-color: #07353d;
                            opacity: 85%;
                        }
                        .sucursal__ubi{
                            display: flex;
                            justify-content: space-around;
                            margin: 6rem auto;
                                &:hover{
                                    transform: scale(1.1,1.1);
                                }
                        }
                    }
                    .p-1{
                        @import "menu2";
                    }       
            }
    }
        .ContenedorAbout{
            width: $ancho + 10;
            margin: 20px auto;
                .HAbout{
                    @include menuinicial;
                }
                .main{
                    @extend .intro;
                    font-size: 1.3rem;
                }
                .Fabout{
                    margin: 4rem;                 
                    .p-1{
                        @import "menu2";
                    }
                }           
        }
        .prodContainer{
            width: $ancho + 10;
            margin: 20px auto;
                .headerProd{
                    @include menuinicial;
                }
                .productos1{
                    width: $ancho;
                    margin: 4rem auto;
                    padding: 2rem;
                    display: flex;
                    justify-content: space-between;
                    margin: 7rem auto;
                .card{
                    color: navy;
                    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    font-size: 1.1rem;
                    text-align: center;
                        &:hover{
                            transform: scale(1.2,1.2);
                        }
                    }
                }
                .productos2{
                    width: $ancho;
                    margin: 4rem auto;
                    padding: 2rem;
                    display: flex;
                    justify-content: space-between;
                    margin: 7rem auto;
                .card{
                    color: navy;
                    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    font-size: 1.1rem;
                    text-align: center;
                        &:hover{
                            transform: scale(1.2,1.2);
                        }
                    }
                }
        .footerProd{
            width: $ancho;
            margin: 20px auto;
                .p-1{
                    @import "menu2";
                }
            }
        }
        .contenedorcontacto{
            width: $ancho + 10;
            margin: 20px auto;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            .Hcontact{
                @include menuinicial;
            }
            .Forcoment{
                width: $ancho - 10;
                margin: 4rem auto;
                padding: 4rem;
                background-color: rgb(7, 53, 61);
                opacity: 95%;
                    .btn{
                        margin-left: 4rem;
                    }
            }
            .footcontact{
                width: $ancho;
                margin: 20px auto;
                .p-1{
                    @import "menu2";
                }
            }
        }
        @media only screen and (max-width: 480px){
            .contenedorInicio{
                width: 100%;
                margin: 10px auto;
                .mainInicio{
                    .videoIntro{
                        width: $ancho;
                        .videonos{
                            width: 300px;
                            height: 200px;
                            margin-bottom: 30vh
                        }
                    }
                }
                .footerInicio{
                    .p-1{
                        @import "footer@";
                    }
                }
            }
            .ContenedorAbout{
                .Fabout{
                    .p-1{
                        @import "footer@";
                    }
                }
            }
            .prodContainer{
                .productos1{
                    margin: 2rem auto;
                    display: flex;
                    flex-direction: column;
                    gap: 5rem;
                }
                .productos2{
                    margin: 2rem auto;
                    display: flex;
                    flex-direction: column; 
                    gap: 5rem;
                }
                .footerProd{
                    .p-1{
                        @import "footer@";
                    }
                }
            }
            .contenedorcontacto{
                .Forcoment{
                    width: 100%;
                    margin: 1rem auto;
                }
                .footcontact{
                    .p-1{
                        @import "footer@";
                    }
                }
            }
        }
     