$ancho: 90%;
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box   
}
body{
    background-image: url(https://images3.alphacoders.com/912/thumb-1920-912807.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    color: aliceblue;
    margin: 2rem auto;
    .headerInicio{
        width: $ancho;
        margin: 20px auto;
        grid-area: headerInicio;
        @import "menuinicial";
    } 
    .mainInicio{
        grid-area: mainInicio;
        .intro{
            background-color:rgb(80, 103, 162);
            line-height: 30px;
            font-size: 1rem;
            border: 2px black solid;
            width: $ancho - 10%;
            padding: 2rem;
            text-align: justify;
            font-family: Georgia, 'Times New Roman', Times, serif;
            overflow: auto; 
            opacity: 75%;
            margin: 2rem auto;
            margin-bottom: 10rem;
        }
        .packs{
            width: $ancho;
            margin: 2rem auto;
            padding: 4rem auto;
            display: flex;
            justify-content: space-evenly;
            opacity: 85%;
            .packs__1{
                padding: 1rem;
            }
        }
    }
    .footerInicio{
        width: $ancho;
        grid-area: footerInicio;
        .sucursales{
            display: flex;
            justify-content: space-around;
            margin: 4rem auto;
            .sucursales__ubi__map:hover {
                transform: scale(1.2, 1.2);
            }
        }
        @import "menu2";
    }
}
.ContenedorAbout{
    width: $ancho;
    margin: 20px auto;
    .HAbout{
        @import "menuinicial";
    }
    .main{
        background-color:rgb(80, 103, 162);
        line-height: 25px;
        border: 2px black solid;
        width: $ancho;
        height: 80%;
        padding: 1rem;
        margin: 2rem auto;
        text-align: justify;
        font-family: Georgia, 'Times New Roman', Times, serif;
        overflow: auto;
        grid-area: main;
        opacity: 85%;
    }
    .contGrid{
        width: $ancho;
        height: auto;
        margin: 20px auto;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 2fr 2fr;
        grid-gap: 2rem;
        grid-template-areas: 
        "foto1 videonos videonos foto2"
        "foto3 videonos videonos foto4";
        .videonos{
            grid-area: videonos;
            width: $ancho - 5%;
            margin: 20px auto;
        }
        .foto1{
            grid-area: foto1;
        }
        .foto2{
            grid-area: foto2;
        }
        .foto3{
            grid-area: foto3;
        }
        .foto4{
            grid-area: foto4;
        }
    }
    .Fabout{
        margin-top: 10rem;
        grid-area: Fabout;
        .p-1{
            @import "menu2";
        }
    }
}
.shopContainer{
    width: $ancho;
    margin: 20px auto;
        .shopHeader{
            @import "menuinicial";
    }
}
.contenedorcontacto{
    width: $ancho;
    margin: 4rem auto;
    .Hcontact{
            width: $ancho;
            grid-area: Hcontact;
            @import "menuinicial";
    }
    .Forcoment{
        width: $ancho;
        grid-area: Forcoment;
    }
    .footcontact{
        width: $ancho;
        grid-area: footcontact;
        .sucursales{
            display: flex;
            justify-content: space-around;
            margin: 4rem auto;
            .sucursales__ubi__map:hover {
                transform: scale(1.2, 1.2);
            }
        }
        .p-1{
            @import "menu2";
        }
    }
}
@media screen and (max-width:480px) {
    .contenedorcontacto {
        width: $ancho;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
        "Hcontact"
        "Forcoment"
        "footcontact";
    }
}
@media screen and (max-width:480px) {
    .ContenedorAbout {
        width: $ancho;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto 1fr;
        grid-template-areas:
        "HAbout"
        "main"
        "foto1"
        "foto2"
        "foto3"
        "foto4"
        "videonos"
        "Fabout";
    }    
}     
